.palatte {
  background-color: white;
  padding: 18px;
  border-radius: 5px;
  height: 70vh;
  /* width: 70%; */
}
.palatte ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
